/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}



/* Invert navigation bars to fill style */
:root,
:root.theme-dark, 
:root .theme-dark {
    --f7-bars-bg-color: var(--f7-theme-color);
    --f7-bars-text-color: #fff;
    --f7-bars-link-color: #fff;
    --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
    --f7-bars-border-color: transparent;
    --f7-tabbar-link-active-color: #fff;
    --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
    --f7-searchbar-bg-color: var(--f7-bars-bg-color);
    --f7-searchbar-input-bg-color: #fff;
    --f7-searchbar-input-text-color: #000;
    --f7-sheet-border-color: transparent;
    --f7-tabbar-link-active-border-color: #fff;
}

.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
    --f7-touch-ripple-color: var(--f7-touch-ripple-white);
    --f7-link-highlight-color: var(--f7-link-highlight-white);
    --f7-button-text-color: #fff;
    --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
#map {
   
    height: 100%;
    width: 100%;
 
}
#historymap {
   
    height: 240px;
    width: 100%;
 
}

.text-size-44 {
    font-size: 44px;
}

.text-size-30 {
    font-size: 30px;
}

.text-size-80 {
    font-size: 80px;
}

.text-align-center {
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}